body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    color: #11266B;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(red, green, blue, alpha);
    overflow: hidden;
}
.writeup {
    background-color: #17254d;
    color: white;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin-right: 40px;
}

.log-in {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin-right: 40px;

.writeup h1 {
    font-size: 56px;
    margin-bottom: 20px;
}
.writeup p {
    font-size: 16px;
    margin-bottom: 20px;
}
.writeup a {
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    width: 100px;
}
.writeup a:hover {
    background-color: white;
    color: #003f5f;
}
.log-in h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #cccc;
    border-radius: 8px;
    border-color: #553f91;
    box-sizing: border-box;
}
.additional-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}
.remember-me {
    display: flex;
    align-items: center;
}
.remember-me input[type="checkbox"] {
    margin-right: 5px;
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
.login-btn, .sso-btn {
    background-color: #2962FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 16px;
    font-weight: semibold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}
.login-btn:hover {
    background-color: #2559E8;
}

.sso-btn {
    background-color: white; 
    color: #11296B; 
    border: 2px solid; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sso-btn:hover {
    background-color: #0056b3;
}
.signup-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
}
.signup-link-container span {
    margin-right: 5px;
}
.signup-link {
    color: #2962FF;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.checkbox input {
    margin-left: 20px;
}

.logo img {
    height: 60px;
    width: auto;
}
